/* schedule.css */

/* Flexbox container for the schedule columns */
.schedulecontainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* Styling for individual schedule columns */
  .schedulecolumn {
    /* height: 1080px; */
    flex: 1;
    padding: 10px;
    border: 1px solid black;
  }
  
  /* Optional: Style for the table elements */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Optional: Style for the table rows and cells */
  table tr {
    border-bottom: 1px solid #ccc;
  }
  
  table td {
    padding: 10px;
  }

  .schedulecolumn table tbody {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds some space between rows */
  }
  .split{
    display: flex;
    justify-content: space-evenly;
  }
  